[Unit]
Description=CPEE Report Server
After=network.target

[Service]
Type=forking
User=demo
WorkingDirectory=/home/demo/Projects/cpee-report
ExecStart=/home/demo/Projects/cpee-report/report.rb start
ExecReload=/home/demo/Projects/cpee-report/report.rb restart
ExecStop=/home/demo/Projects/cpee-report/report.rb stop
TimeoutStopSec=30
Restart=always
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
